$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 35%;
$content-wrapper-width: 62%;
$article-max-width: 740px;
$post-margin-left: 38%;

$img: "../img";
$js: "../js";
$font: "../font";

$theme-text-color: #666666;
$theme-link-color: #44ae78;
$theme-link-hover-color: #43765C;
$theme-nav-bar-link-color: #666666;
$theme-nav-bar-link-hover-color: #2D2D2B;
